<div class="inner cover">
  <h1 class="cover-heading">Bonvenon!</h1>
  <p class="lead">Web development is one of my passions. A website nowadays must be both dynamic ("interactable") and responsive (able to look good on different devices).</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

